tr{background-color: #f2f2f2}

th {
    background-color: #000080;
    color: white;
    font-family: Arial;
    font-size:16px;
}
td ul {
       list-style: none;
}
#loginId{
	width:50%;
	float:left;
	text-align:center;
}
th, td {
    text-align: left;
    padding: 8px;
    font-family: SANS-SERIF;
}
#placeOrderButton a{
	text-decoration: none;
    color: black;
}